<!DOCTYPE html>
<html>
  <head>
    <% if Rails.env.production? %>
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-TPXRJJ63F3"></script>
      <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-TPXRJJ63F3');</script>
    <% end %>
    <title>
      <% if Rails.env.staging? %>
        STAGING |
      <% elsif Rails.env.development? %>
        DEV |
      <% end %>
      Sprachunterricht und Sprachnachhilfe Judith Hölzle
    </title>
    <%= favicon_link_tag asset_path("favicon.ico") %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel=”canonical” href=https://sprachunterricht-online.de/>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
